<div class="container">
  <form class="row g-2">
    <div class="col-12" >
      <label for="inputEmail4" class="form-label">Documento</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
      <label for="inputPassword4" class="form-label">Nombre</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6">
      <label for="inputAddress2" class="form-label">Origen</label>
      <select id="inputState" class="form-select">
        <option selected>Medellin</option>
        <option *ngFor="let destino of destinos">{{destino}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Destino</label>
      <select id="inputState" class="form-select">
        <option selected>...</option>
        <option *ngFor="let destino of destinos">{{destino}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputState" class="form-label">Vehiculo</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Silla</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <label for="inputZip" class="form-label">Valor</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Vender</button>
    </div>
  </form>
</div>