<div class="container">
  <form class="row g-2 form" [formGroup]="tiquete" (ngSubmit)="onSubmit(tiquete.value)">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="cedula">Cedula</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" [formControl]="tiquete.controls['cedula']">
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="nombre">Nombre</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" [formControl]="tiquete.controls['nombre']">
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="celular">Celular</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" [formControl]="tiquete.controls['celular']">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="origenInput">Origen </label>
      <select class="form-select" id="origenInput" [formControl]="tiquete.controls['origen']">
        <option selected>...</option>
        <option *ngFor="let destino of destinos" >{{destino}}</option>
      </select>
      <label class="input-group-text" for="destino">Destino </label>
      <select class="form-select" id="destinoInput" [formControl]="tiquete.controls['destino']">
        <option selected>...</option>
        <option *ngFor="let destino of destinos" >{{destino}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Vehiculo</span>
      <input type="text" class="form-control" aria-label="Username" [formControl]="tiquete.controls['vehiculo']">
      <span class="input-group-text">Silla</span>
      <input type="text" class="form-control" aria-label="Server" [formControl]="tiquete.controls['silla']">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Precio</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [formControl]="tiquete.controls['precio']">
      <span class="input-group-text">.00</span>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Vender</button>
    </div>
  </form>
</div>