<div class="containerForm">
  <div class="starter-template">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h1>Inicia Sesion </h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="mb-3 form-group">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" formControlName="username" id="username"
             [ngClass]="{ 'is-invalid': formSubmitted && controls.username.invalid }">
             <div *ngIf="formSubmitted && controls.username.invalid" class="invalid-feedback">
              <span  id="username" class="form-text" *ngIf="controls.username.errors?.required" class="form-text text-muted">
                Es requerido
              </span>
              <span  id="passwordHelpInline" class="form-text"  *ngIf="controls.username.errors?.username" class="form-text text-muted">
                Ingresa los datos correctos
              </span>
          </div>
             <span  id="passwordHelpInline" class="form-text" *ngIf="form.controls['password'].invalid" class="form-text text-muted">
              Ingresa los datos correctos
            </span>
          </div>
          <div class="mb- 3 form-group">
            <label for="Password" class="form-label">Password:</label>
              <input type="password" id="Password" class="form-control" aria-describedby="passwordHelpInline" formControlName="password"
                [ngClass]="{ 'is-invalid': formSubmitted && controls.password.invalid }">
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text" *ngIf="form.controls['password'].invalid" class="form-text text-muted">
                Ingresa los datos correctos
              </span>
            </div>
          </div>
          <button [disabled]="!form.valid || formSubmitted" type="submit" class="btn btn-outline-dark btn-lg">Iniciar Sesion </button>
        </form>
      </div>
    </div>
  </div>
</div>